$baseSize:37.5;
@function calcSize($px){
  @return $px/$baseSize +rem;
}
.geo-location-wrapper{
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  .refresh-btn{
    padding:calcSize(4) calcSize(15);
    background: #ffff00;
    color: #3AA7FF;
    border:none;
    position: fixed;
    top:-20px;
    right:0;
    z-index:99;
  }
  .history-time{
    position: absolute;
    top:0;
    left:0;
    right:0;
    box-sizing: border-box;
    height:calcSize(50);
    padding:calcSize(9) calcSize(16);
    background:rgba(0,0,0,.15) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .date-btn{
      background: #FFFFFF;
      border-radius: 4px;
      font-size: 15px;
      color: #3AA7FF;
      padding:calcSize(6) calcSize(15);
      border:none;
    }
    .draw-btn{
      background: #3AA7FF;
      border-radius: 4px;
      border:none;
      font-size: 14px;
      color: #FFFFFF;
      padding:calcSize(6) calcSize(15);
    }
  }
}
.controller{
  position: absolute;
  bottom:calcSize(16);
  right:calcSize(6);
  img{
    display: block;
    width:calcSize(48);
    height:calcSize(48);
    margin-bottom: calcSize(6);
  }
}

#geo-location{
  height:100%;
  .amap-geolocation-con{
    display: none;
  }
  .loc-marker{
    //border-radius: 48px;
    display: flex;
    align-items: center;
    position: relative;
    .avatar{
      display: block;
      width:calcSize(32);
      height:calcSize(32);
      padding:2px;
      background: #fff;
      border-radius: 100%;
      border:1px solid #ddd;

    }
    .loc-text{
      width:calcSize(200);
      background: #fff;
      box-shadow: 0 3px 10px rgba(0,0,0,.3);
      border-radius: 4px;
      position: absolute;
      bottom:calcSize(40);
      padding:calcSize(10);
      left:calcSize(-100);
      .loc-title{
        font-size: 12px;
        color: #4A4A4A;
        font-weight: bold;
        text-align: center;
      }
    }
    p{
      font-size: 11px;
      color: #6B6B6B;
      margin-top: calcSize(4);
      text-align: center;
    }
  }
}
