$baseSize:37.5;
@function calcSize($px){
  @return $px/$baseSize +rem;
}
.chooseDev{
  background: #fff;
}
.devItem{
  display: flex;
  width:100%;
  height:calcSize(120);
  padding:calcSize(20) calcSize(16);
  box-sizing: border-box;
  color: #000;
  align-items: flex-start;
  
  img{
    width:calcSize(80);
    height:calcSize(80);
    margin-right: calcSize(28);
  }
}