@import "../../style/base.scss";
.header-bar{
  height:calcSize(45);
  color: #4A4A4A;
  background: #fff;
  border-bottom:1px solid rgba(0,0,0,.1);
  .am-navbar{
    height:calcSize(45);
  }
  //a{
  //  color: #4A4A4A;
  //}
  .text-black{
    color: #4A4A4A;
  }
  .icon-color{
    color: #3AA7FF;
  }
}