$baseSize:37.5;
@function calcSize($px){
  @return $px/$baseSize +rem;
}
.banner{
  width:100%;
}
.tips{
  font-size: 12px;
  color: #4A4A4A;
  padding:calcSize(10) calcSize(15);
  background: #F5F5F5;
}
.radio-btn{
  font-size: 12px;
  padding:calcSize(4) calcSize(8);
  background: #fff;
  border:1px solid #3AA7FF;
  color: #3AA7FF;
  border-radius: 4px;
  //&.checked{
  //  color: #FFFFFF;
  //  background: #3AA7FF;
  //}
}
.lists-box{
  .add-btn{
    color: #fff;
    display: block;
    outline: 0 none;
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    text-align: center;
    font-size: 18px;
    height: 47px;
    line-height: 47px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    word-break: break-word;
    white-space: nowrap;
    border-radius: 5px;
    background-color: #108ee9;
    border: 1PX solid #108ee9;
    margin-top: calcSize(20);
  }

}
.lists-wrapper{
  .am-list-item .am-list-line .am-list-content{
    font-size: 14px;
    color: #393939;
    .am-list-brief{
      font-size: 14px;
      color: #393939;
    }
  }
}

.bind-wrapper{
  .bind-form{
    margin-bottom: calcSize(65);
    .am-list-item .am-list-line .am-list-content,
    .am-list-item .am-input-label{
      font-size: 14px;
      color: #393939;
    }
    .am-list-item .am-list-line .am-list-extra,
    .am-list-item .am-input-control input{
      font-size: 14px;
      color: #B5B5B5;
    }
    .am-list-line{
      display: flex;
      .am-list-extra{
        flex:2 1;
      }
    }

  }
}